@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-start {
  opacity: 0;
  transform: translateY(40px);
}

.fade-in-up {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}
@keyframes slideDown {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}
